@import "~bootstrap/dist/css/bootstrap.min.css";

/* * {
  border: 2px dashed red;
} */

body {
  background-color: green;
}

.cardMain {
  background-color: white;
  height: 400px;
  width: 300px;
  border-radius: 10px;
}

.cardSuit {
  font-size: 70px;
  color: red;
}

.cardNumber {
  font-size: 90px;
}
